<section class="hero is-primary">
  <div class="hero-body has-text-centered">
    <p class="title">Cancionero</p>
  </div>
</section>

<section class="section">
  <div class="container main-list-table">
    <div class="has-text-centered" style="margin-bottom: 1rem">
      <mat-form-field appearance="standard">
        <mat-label
          >Buscar por parte de la canción, por nombre o por índice...</mat-label
        >
        <input
          matInput #input [(ngModel)]="searchedText"
          (keyup)="applyFilter($event)"
        />
      </mat-form-field>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      matSortActive="index"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Indice</th>
        <td mat-cell *matCellDef="let song">{{ song.index }}</td>
      </ng-container>

      <ng-container matColumnDef="lyrics">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Letra</th>
        <td mat-cell *matCellDef="let song">
          <button class="button is-small is-white is-rounded" 
          [matTooltip]="song.lyrics | textFound: searchedText" [matTooltipPosition]="'right'" [matTooltipShowDelay]="500"
          [matTooltipShowDelay]="500" [matTooltipClass]="'tooltip'" #matTooltip="matTooltip">
            <span class="icon is-small">
              <i class="fa-solid fa-align-left"></i>
            </span>
          </button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="beginning">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comienzo</th>
        <td mat-cell [highlight]="searchedText" [fullText]="song.beginning" *matCellDef="let song">{{ song.beginning }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell class="title-column" *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell class="title-column" [highlight]="searchedText" [fullText]="song.title!=song.beginning ? song.title : ''"
        *matCellDef="let song">{{ song.title!=song.beginning ? song.title : '' }}</td>
      </ng-container>

      <ng-container matColumnDef="amount_used">
        <th mat-header-cell class="centered" *matHeaderCellDef mat-sort-header>Cant. usada</th>
        <td class="has-text-centered" mat-cell *matCellDef="let song">
          {{ song.amount_used }}
        </td>
      </ng-container>

      <ng-container matColumnDef="last_used">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Última vez usado
        </th>
        <td class="has-text-centered" mat-cell *matCellDef="let song">
          {{ song.last_used | date: "dd-MM-yy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="link_ipsaq">
        <th mat-header-cell class="centered" *matHeaderCellDef mat-sort-header>Version IPSAQ</th>
        <td class="has-text-centered" mat-cell *matCellDef="let song">
          <span *ngIf="song.link_ipsaq" class="icon has-text-danger">
            <i class="fa-brands fa-youtube"></i>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="link_chords">
        <th mat-header-cell class="centered" *matHeaderCellDef mat-sort-header>Acordes</th>
        <td class="has-text-centered" mat-cell *matCellDef="let song">
          <a *ngIf="song.link_chords" class="button is-small is-ghost" target=”_blank” href="{{ song.link_chords }}">
            <span class="icon is-small guitar">
              <i class="fa-solid fa-lg fa-guitar"></i>
            </span>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="button_to_page">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let song">
          <p class="control" style="margin: inherit">
            <a class="button is-info is-small"
              [routerLink]="['/cancionero', song.id]"
            >
              Detalles
            </a>
          </p>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sin resultados :(</td>
      </tr>
    </table>
  </div>
</section>
