<section class="hero is-primary">
  <div class="hero-body has-text-centered">
    <h1 class="title">¿Dónde estamos?</h1>
  </div>
</section>

<div class="container">
  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-4">
        <div class="tile is-child notification is-light">
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-location-dot"></i></span> Alte. Brown 831, Quilmes
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-phone"></i></span> Tel. 011 4253-4810
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-brands fa-whatsapp"></i></span> <a class="underlined" href="https://wa.me/5491170609267">Wpp: +54 9 11 7060-9267</a>
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
            <a href="mailto:ipsaquilmes@gmail.com" class="underlined">ipsaquilmes&#64;gmail.com</a>
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-brands fa-instagram"></i></span> Instagram:
            <a target="_blank" class="underlined" href="https://www.instagram.com/presbiquilmes/">&#64;presbiquilmes</a>
          </p>
        </div>
        <!--a [routerLink]="['/contacto']" class="tile is-child button is-danger is-light has-text-centered">Contactanos</a-->
        <div class="tile is-child notification is-link">
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-church"></i></span> Cultos: 11h
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-hands-praying"></i></span> Reunión de Oración: Miércoles 19hs
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-book-bible"></i></span> Grupos de Estudio: Martes, Miércoles y Sábados
          </p>
          <p class="subtitle is-6 has-icon-left">
            <span class="icon"><i class="fa-solid fa-child-reaching"></i></span> Reuniones de adolescentes y escuela de niños!
          </p>
        </div>
      </div>
      <div class="tile is-parent is-8">
        <div class="tile is-child notification" style="background-color: #dbb8b3;">
          <google-map [center]="marker.position" [width]="'auto'">
            <map-marker
              [position]="marker.position"
              [label]="marker.label"
              [title]="marker.title"
              [options]="marker.options"
            >
            </map-marker>
          </google-map>
        </div>
      </div>
    </div>
  </section>
</div>
