.is-static {
  background-color: transparent;
}

.item-link:hover {
  cursor: pointer;
  color: #485fc7 !important;
}

.tag.series {
    cursor: pointer;
}

.tag.series:hover {
    filter: brightness(0.95);
}
