.success {
    background-color: #48c78e;
    color: white;
  }
  
  .info {
    background-color: #3e8ed0;
    color: white;
  }
  
  .warning {
    background-color: #ffe08a;
    color: rgba(0,0,0,.7);
  }
  
  .error {
    background-color: #f14668;
    color: white;
  }