.designated-cell {

  .profile-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    align-items: center;
  }

  .designated-checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.1em;
    margin-bottom: 0;
    font-size: 13px;
  }
}
