<section class="hero is-warning">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-1">
        <p class="control">
          <button
            class="button is-rounded is-warning"
            [routerLink]="song.id ? ['/cancionero', song.index] : ['/cancionero']"
          >
            <span class="icon">
              <i class="fa-solid fa-2x fa-arrow-left"></i>
            </span>
          </button>
        </p>
      </div>
      <div class="column has-text-centered">
        <p class="title">{{ song.title }}</p>
        <p class="subtitle">Edición de acordes</p>
      </div>
      <div class="column is-1"></div>
    </div>
  </div>
</section>

<div class="container">
  <section class="section">
    <p [chords]="chordsText"></p>
    <div class="field">
      <div class="control">
        <div class="textarea" contenteditable="true" [chords]="chordsText" (input)="textAltered()"></div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" (click)="updateSong()">
          {{ song.id ? "Guardar Cambios" : "Crear Cancion" }}
        </button>
      </div>
    </div>
  </section>
</div>
