.container {
    text-align: -webkit-center;
}

table {
    width: auto !important;
}

.mat-mdc-row {
    height: 35px;
}

.element-row td {
    border-bottom-width: 0;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    border-right: 1px solid #e1e1e1;
    border-bottom-color: #e1e1e1 !important;
}

.mat-mdc-header-cell {
    border-bottom-width: 2px;
    border-bottom-color: #d0b5a5 !important;
}

.mat-mdc-cell:not(.mat-column-sermon_date),
.mat-mdc-header-cell:not(.mat-column-sermon_date) {
    width: 60px;
}

.mat-mdc-row,
.mat-mdc-header-cell {
    text-align: center;
}

td.mat-mdc-cell:last-of-type,
th.mat-mdc-header-cell:last-of-type {
    padding-right: inherit;
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type {
    padding-left: inherit;
}

.mat-column-sermon_date {
    border-right: 2px solid #d0b5a5;
    width: 10rem;
}