.container {
    text-align: -webkit-center;
}

table {
    width: auto;
}

.mat-row {
    height: 35px;
}

.element-row td {
    border-bottom-width: 0;
}

.mat-cell, .mat-header-cell {
    border-right: 1px solid #e1e1e1;
    border-bottom-color: #e1e1e1 !important;
}

.mat-header-cell {
    border-bottom-width: 2px;
    border-bottom-color: #d0b5a5 !important;
}

.mat-cell:not(.mat-column-sermon_date), .mat-header-cell:not(.mat-column-sermon_date) {
    width: 60px;
}

.mat-row, .mat-header-cell {
    text-align: center;
}

td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: inherit;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    padding-left: inherit;
}

.mat-column-sermon_date {
    border-right: 2px solid #d0b5a5;
    width: 10rem;
}