<app-header [color]="'is-light'" [title]="'CRONOGRAMA'"></app-header>

<section class="section" style="padding-top: 2rem;">
  <div class="container">

    <div class="has-text-centered" style="margin-bottom: 2rem">
      <mat-chip-listbox aria-label="Filtro" multiple (change)="onFiltersChange($event)">
        <mat-chip-option value="directors" selected>Dir de alabanza</mat-chip-option>
        <mat-chip-option value="players" selected>Músicos</mat-chip-option>
        <mat-chip-option value="choir" selected>Coro</mat-chip-option>
      </mat-chip-listbox>
    </div>

    <table mat-table [dataSource]="dataSource" class="schedule mat-elevation-z8" [ngClass]="filtersClasses">
      <ng-container matColumnDef="sermon_date">
        <th mat-header-cell *matHeaderCellDef>Fecha del culto</th>
        <td mat-cell *matCellDef="let sermon">
          <a class="has-text-dark" [routerLink]="['/cultos', sermon.id]">{{ sermon.date | date : !isMobile ? "dd \'de\'
            MMMM\',\' yy":"dd\'/\'MM\'/\'yy" }}</a>
        </td>
      </ng-container>

      <ng-container *ngFor="let nickname of namesHeaders; let colIndex = index" matColumnDef="{{nickname}}">
        <th mat-header-cell *matHeaderCellDef>{{nickname}}</th>
        <td mat-cell *matCellDef="let sermon">
          <span *ngIf="users[colIndex]?.id == sermon.director?.id || sermon.ids_band.includes(users[colIndex]?.id)"
            class="icon">
            <i *ngIf="users[colIndex]?.id == sermon.director?.id; then director else player"></i>
            <ng-template #director><i class="fa-solid fa-user director"></i></ng-template>
            <ng-template #player><span [outerHTML]="users[colIndex].player_icon"></span></ng-template>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-mdc-row" *matNoDataRow>
        <td class="mat-mdc-cell" style="padding-left: 2rem;">Sin resultados :(</td>
      </tr>
    </table>

  </div>
</section>