<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-1">
        <p class="control">
          <button
            class="button is-rounded is-primary"
            [routerLink]="sermon.id ? ['/cultos', sermon.id] : ['/cultos']"
          >
            <span class="icon">
              <i class="fa-solid fa-2x fa-arrow-left"></i>
            </span>
          </button>
        </p>
      </div>
      <div class="column has-text-centered">
        <p class="title">
          {{
            sermon.id
              ? sermon.title
                ? "Editar: " + sermon.title
                : "Editar Culto"
              : "Agregar Culto"
          }}
        </p>
      </div>
      <div class="column is-1"></div>
    </div>
  </div>
</section>

<div class="container">
  <section class="section">
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Título</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input
              class="input"
              [(ngModel)]="sermon.title"
              placeholder="Titulo"
            />
          </p>
          <p class="control">
            <input class="input" type="date" [(ngModel)]="sermon.date" />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Encargados</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input
              class="input"
              [(ngModel)]="sermon.director"
              type="text"
              placeholder="Dirección"
            />
          </p>
          <p class="control is-expanded">
            <input
              class="input"
              [(ngModel)]="sermon.preacher"
              placeholder="Predicador"
            />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Lectura</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded is-grouped">
          <p class="control is-expanded">
            <input
              class="input"
              [(ngModel)]="sermon.bible_verse"
              placeholder="Lectura"
            />
          </p>
        </div>
        <div class="field has-addons">
          <p class="control is-expanded">
            <ng-select
              [items]="series"
              bindLabel="name"
              placeholder="Selecciona una Serie"
              [(ngModel)]="sermon.series"
            >
            </ng-select>
          </p>
          <p class="control">
            <button class="button is-primary is-light is-outlined" (click)="addSeries()">Agregar Serie</button>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Link al culto</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <p class="control is-expanded">
            <input
              class="input"
              [(ngModel)]="sermon.link_youtube"
              type="text"
              placeholder="Link al culto en YouTube"
            />
          </p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="sermon.id">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Alabanza</label>
        </div>
        <div class="field-body">
          <div class="field is-expanded is-grouped" style="width: 100%;">
            <p class="control is-expanded">
              <ng-select
                #ngSelectComponent
                [items]="allSongs"
                bindLabel="beginning"
                (change)="songAdded()"
                [(ngModel)]="selectedSong"
              >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <p>{{ item.index }} | {{ item.beginning }}</p>
                </ng-template>
              </ng-select>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <a class="button is-info is-light is-outlined" target="_blank" [routerLink]="['/nueva_cancion']">
                <span class="icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>      

      <div class="columns is-multiline" style="margin-top: 1rem">
        <div *ngFor="let song of songs" class="column is-narrow">
          <app-songs-box
            [sermonSongInput]="song"
            [editMode]="true"
            (songDeleted)="songDeleted($event)"
          ></app-songs-box>
        </div>
      </div>
    </ng-container>
    <div class="field is-grouped">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button
              class="button is-primary"
              (click)="sermon.id ? updateSermon() : addSermon()"
            >
              {{ sermon.id ? "Guardar Cambios" : "Crear Culto" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
