<div class="main container is-fluid">
    <div class="hero-body has-text-centered">
        <h1 class="title has-text-white">Fiesta del 100 aniversario</h1>
        <h2 class="subtitle has-text-warning">
            <span class="dot">•</span>1924 - 2024<span class="dot">•</span>
        </h2>
    </div>
    <div class="has-text-white has-text-centered">
        <i>"Habiendo amado a los suyos que estaban en el mundo, los amó hasta el fin."</i>
        <p class="has-text-weight-bold">Juan 13:1</p>
        <div class="logo">
            <img src="assets/100-logo.svg">
        </div>
    </div>


    <section class="section">
        <div class="columns is-centered">
            <div class="column is-half-desktop is-half-widescreen is-two-thirds-tablet is-one-third-fullhd">
                <div class="box comments">
                    <div class="control">
                        <textarea class="textarea" [(ngModel)]="newComment.message" placeholder="Tu mensaje"></textarea>
                    </div>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" [(ngModel)]="newComment.author" placeholder="Tu nombre">
                        </div>
                        <div class="control">
                            <button class="button is-danger has-text-white" (click)="saveComment()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="has-text-centered" #comments_gallery style="margin-bottom: 1.5rem;">
            <h1 class="title is-3 has-text-white">Comentarios</h1>
        </div>
        <div class="comments-gallery" *ngIf="comments">
            <div *ngIf="!isMobile; then desktopComments else mobileComments"></div>
        </div>
    </section>

    <section class="section has-text-centered">
        <h1 class="title is-2 has-text-white">Alabanzas</h1>
        <div class="columns is-centered is-multiline">
            <div class="column is-narrow has-text-white" *ngFor="let song of songs">
                <button class="button is-light" (click)="openLyrics(song)">{{song.index}} • {{song.beginning}}</button>
            </div>
        </div>
    </section>

    <!--section class="section has-text-centered">
        <h1 class="title is-2 has-text-white">Fotos</h1>
        <p class="has-text-white">Subí las fotos que saques durante esta celebración en Instagram y agregá el hashtag
            <strong class="has-text-white">#presbiquilmes100años</strong>!
        </p>
    </section-->

    <section class="section has-text-centered history">
        <h1 class="title is-2 has-text-white">Historia</h1>
        <a class="card" [routerLink]="['/quienes-somos/historia']">
            <div class="card-image">
                <figure class="image">
                    <img src="assets/iglesia/frente.jpg">
                </figure>
            </div>
            <div class="card-content">
                <strong class="content">Conocé cómo se fundó nuestra iglesia local!</strong>
            </div>
        </a>
    </section>
</div>

<ng-template #desktopComments>
    <app-comment-box class="comment-item" *ngFor="let comment of comments" [comment]="comment"
        [can-delete]="isLoggedIn()" (commentDeleted)="removeComment($event)"></app-comment-box>
</ng-template>

<ng-template #mobileComments>
    <app-comment-box class="comment-item" *ngFor="let comment of currentCommentsToShow" [comment]="comment" [can-delete]="isLoggedIn()"
    (commentDeleted)="removeComment($event)"></app-comment-box>
    <mat-paginator [length]="comments.length" [pageSize]="5" aria-label="Pagina de comentarios" hidePageSize="true" [pageIndex]="currentPage" (page)="handlePageEvent($event)">
    </mat-paginator>
</ng-template>