.main {
    background: linear-gradient(180deg, #422345 50%, #e77b79 90%, #f2c59d 100%)
}

.hero-body .title {
    font-family: Hello;
    font-size: 70px;
    text-shadow: 2px 2px 5px #e8b359;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 26px;
    font-family: inherit;
}

.dot {
    padding: 0 10px;
    font-size: 20px;
}

.comment-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.comments-gallery {
    column-count: 3;
    column-gap: 10px;
}

.logo {
    margin-top: 30px;
    img {
        filter: drop-shadow(2px 2px 4px rgba(242, 197, 157, 0.6)) brightness(3);
        height: 90px;
    }
}

.box.comments {
    padding: 7px;

    button {
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
    }
}

.box.comments button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px !important;
}

.box.comments>.field {
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.box.comments textarea,
.box.comments input {
    border: none;
    box-shadow: none;

    :hover {
        border: none;
        box-shadow: none;
    }

    :active {
        border: none;
        box-shadow: none;
    }
}

section.history {
    .card {
        width: 35rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }
    
    .card-image, .image, img {
        height: 10rem;
        width: auto;
    }

    img {
        border-bottom-left-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

@media (max-width: 1022px) {
    .comments-gallery {
        column-count: 1;
    }

    .section {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-body .title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    textarea {
        font-size: 0.875em;
    }

    .card-image, .image, img {
        height: 6rem !important;
        width: -webkit-fill-available !important;
    }
    
    section.history .card .card-content {
        padding: 0;
    }
}
