.main {
    background: linear-gradient(180deg, #121212 10%, #422345 60%, #e77b79 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.logo {
    position: absolute;
    right: 30px;
    bottom: 30px;

    img {
        filter: drop-shadow(2px 2px 4px rgba(54, 45, 28, 0.6));
        height: 90px;
    }
}

.qr.box {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 2px;
    filter: drop-shadow(2px 2px 4px rgba(71, 64, 50, 0.6));

    img {
        height: 120px;
    }
}

.hero-body .title {
    font-family: Hello;
    font-size: 70px;
    text-shadow: 2px 2px 5px #ffab1c;;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 26px;
    font-family: inherit;
}

.dot {
    padding: 0 10px;
    font-size: 20px;
}

.column {
    display: flex;
    align-items: center;
}

.comment-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.comments-gallery {
    column-count: 3;
    column-gap: 10px;
}

@media (max-width: 1022px) {
    .comments-gallery {
        column-count: 1;
    }
}