<div class="main container is-fluid">
    <div class="hero-body has-text-centered" style="padding-bottom: 40px;">
        <h1 class="title has-text-white">Fiesta del 100 aniversario</h1>
        <h2 class="subtitle has-text-warning">
            <span class="dot">•</span>1924 - 2024<span class="dot">•</span>
        </h2>
    </div>
    <section class="section" style="padding: 0;">
        <div class="columns is-centered is-variable is-8">
            <div class="column is-4 is-3-fullhd" style="margin-top: -150px;">
                <app-comment-box [comment]="commentDisplayed" [size]="'large'"></app-comment-box>
            </div>
            <div class="column is-1 is-2-fullhd"></div>
            <div class="column is-4 is-3-fullhd">
                <iframe src="https://widget.taggbox.com/154914" style="width:100%;height:80vh;border:none;"></iframe>
            </div>
        </div>
    </section>
</div>

<div class="qr box">
    <img src="assets/qr.png">
</div>

<div class="logo">
    <img src="assets/100-logo.svg">
</div>