<section class="hero is-primary">
    <div class="hero-body has-text-centered">
        <h1 class="title">Forma de Gobierno</h1>
    </div>
</section>

<div class="main">
    <div class="container">
        <section class="section">
            <article class="message is-warning">
                <div class="message-body">
                    <strong>1. </strong>La Iglesia Presbiteriana está gobernada por <strong>presbíteros</strong>. Presbiterios Maestros o Pastores
                        y Presbíteros gobernantes o ancianos.
                </div>
            </article>
            <article class="message is-link">
                <div class="message-body">
                    <strong>2. </strong>La forma de gobierno Presbiteriano es <strong>representativa</strong>. Cada congregación elige de entre sus miembros algunas personas para ejercer la función de presbítero, quienes junto con el pastor conforman un <strong>Consistorio</strong>.
                </div>
            </article>
            <article class="message is-primary">
                <div class="message-body">
                    <strong>3. </strong>Los y las representantes de cada Consistorio y los pastores de todas las iglesias de un área geográfica forman un <strong>Presbiterio</strong>. Los Presbiterios de una región forman un <strong>Sínodo</strong> o <strong>Asamblea General</strong>. En cada una de estas instancias, los y las representantes nombran autoridades, todas éstas temporales y rotativas, evitando así cualquier tipo de jerarquización.
                </div>
            </article>
        </section>
    </div>
</div>