.title.is-5 {
  margin: 0 0 10px 0;
}

.index {
  background-color: #ffefdd;
  color: #d2a28e;
  border-radius: 12px;
  padding: 6px;
  min-width: 45px;
  margin-right: 10px;
  display: inline-block;
  font-size: 23px;
  vertical-align: top;
  line-height: 0.9;
}

@media (max-width: 415px) {
  .container.chords .button {
    font-size: 0.75rem;
    border-radius: 2px;
  }
}
