.icon {
    margin-right: 0 !important;
}

.main-container {
    min-height: 100vh !important;
}

.navbar-menu.is-active {
    position: absolute;
    left: 52px;
    top: 66px;
    box-shadow: #6e6e6e99 0px 5px 14px 0px;
}