.texture {
    background-image: url("/assets/texture2.png");
    background-size: cover;
}

.catedral {
    border-radius: 5px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    width: 26rem;
    float: right;
    margin: 1rem 0 1rem 2rem;
}