<section class="hero is-primary">
    <div class="hero-body has-text-centered">
        <h1 class="title">Nuestra historia</h1>
    </div>
</section>

<div class="texture">
    <div class="container">
        <section class="section">
            <div class="content">
                <div class="block">
                    <p>La Iglesia Presbiteriana tiene sus raíces en la Reforma impulsada primeramente por Lutero en 1517, procurando que el pueblo tenga acceso al conocimiento de la Biblia y luchando contra los abusos de las indulgencias en su tiempo.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/catedral.jpg" class="catedral">
                    <p>Lutero fue un gran hombre de Dios que debió soportar persecución por defender aquellas verdades que encontró en las Sagradas Escrituras. Fue el primero en dar la Biblia al pueblo, haciendo una famosa traducción del texto bíblico al alemán, para que la Biblia no sea propiedad del clero. Lutero proclamó a viva voz que la salvación es por fe, y solamente por fe. Él insistía que la salvación no puede comprarse con dinero, ni con buenas acciones, sino llevando una vida de fe de acuerdo con las Escrituras.</p>
                    <p>Ya con la reforma en marcha, apareció en escena Juan Calvino. Este teólogo francés, gran estudioso de la Biblia, profundizó las ideas de Lutero invitando a la gente a vivir su fe en su vida cotidiana, fuera de la iglesia, en su inserción en la sociedad.</p>
                    <p>Además, Calvino se dedicó a organizar y estructurar la teología, escribiendo gran cantidad de comentarios bíblicos y su famosa "Institución de la Religión Cristiana".</p>
                    <p>Siguiendo la teología calvinista, Juan Knox organizó la Iglesia Presbiteriana en Escocia. La estructura eclesiástica fue desarrollada intentando no dar poder a individuos, sino estableciendo cortes donde todas las decisiones fueran tomadas en grupo y buscando consenso. Esa estructura de gobierno eclesiástico perdura hasta hoy, siendo coherente con la teología predicada.</p>
                    <p>Esta teología cristiana y su forma de gobierno fueron traídas a la Argentina con la llegada de los escoceses.</p>
                </div>
                <div class="block">
                    <strong>En 1914 se inaugura el templo de la Iglesia Presbiteriana de Quilmes.</strong>
                </div>
            </div>
        </section>
    </div>
</div>