<section class="hero is-primary">
    <div class="hero-body has-text-centered">
        <h1 class="title">Nuestra historia</h1>
    </div>
</section>

<div class="texture">

    <section class="section has-text-centered history" style="padding-bottom: 0;">
        <a class="card" [routerLink]="['/aniversario']">
            <div class="card-image">
                <figure class="image">
                    <img src="assets/iglesia/dibujo_quilmes.jpg">
                </figure>
            </div>
            <div class="card-content">
                <strong class="content">Mirá el video de nuestra historia en conmemoración a nuestro 100
                    aniversario!</strong>
            </div>
        </a>
    </section>

    <div class="container">
        <section class="section">
            <div class="content">
                <div class="block">
                    <p>La Iglesia Presbiteriana tiene sus raíces en la Reforma impulsada primeramente por Lutero en
                        1517, procurando que el pueblo tenga acceso al conocimiento de la Biblia y luchando contra los
                        abusos de las indulgencias en su tiempo.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/logo-escocia.png" class="imagen left" style="box-shadow: none;">
                    <p>Nuestra historia se origina en Escocia, la cuna de la iglesia presbiteriana y de John Parish
                        Robertson, quien emigró a Buenos Aires en 1809 junto con su hermano a la temprana edad de 14
                        años. Años más tarde Rivadavia implementó la ley de Enfiteusis para promover y facilitar la
                        entrega de tierras estatales a colonos europeos, con el objetivo de impulsar el desarrollo del
                        país.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/colonos.jpg" class="imagen right">
                    <p>Entusiasmado por las oportunidades que ofrecía esta nueva política, el ya establecido John
                        Robertson viajó de regreso a Gran Bretaña, donde reclutó a un grupo de personas originarias de
                        Edimburgo con el propósito de trasladarlos como colonos a la Argentina. Las promesas eran
                        tentadoras y el riesgoso viaje parecía valer la pena, especialmente porque el gobierno también
                        garantizaba por primera vez la libertad de culto en estas nuevas tierras.</p>
                    <p>El 22 de mayo de 1825, 220 escoceses presbiterianos partieron hacia tierras argentinas a bordo de
                        la goleta "Symmetry", en un viaje lleno de esperanza y fe. Llegaron al país en agosto de ese
                        mismo año y se establecieron en la zona sur del actual Gran Buenos Aires.</p>
                    <p>Un año después de su llegada, la comunidad escocesa solicitó a la Iglesia de Escocia el envío de
                        un ministro religioso. Como respuesta, fue enviado el reverendo William Brown, quien arribó a la
                        Argentina a fines de 1826. Con la llegada del reverendo Brown, la comunidad escocesa encontró
                        guía espiritual y comenzó su camino de crecimiento y expansión en la fe presbiteriana.</p>
                    <p>La colonia de escoceses presbiterianos finalmente se disgregó entre 1829 y 1832, lo que llevó a
                        los colonos a dirigirse hacia distintos lugares de la provincia. Esta dispersión resultó en la
                        formación de nuevas comunidades presbiterianas, extendiendo así el mensaje de fe y esperanza a
                        más corazones en Argentina.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/clark.png" class="imagen left" style="width: 7rem;">
                    <p>El 15 de marzo de 1829 marcó un hito significativo con la constitución oficial de la Iglesia
                        Presbiteriana San Andrés. Este evento representó un paso crucial en el establecimiento y la
                        consolidación de la fe presbiteriana en Argentina, dando lugar a una comunidad sólida y
                        comprometida con sus creencias.</p>
                    <p>Con la llegada de nuevos inmigrantes y el crecimiento de la comunidad escocesa en la zona Sur,
                        comenzó a crecer la fe protestante en Quilmes, dando origen en 1887 a la Asociación Protestante
                        de Quilmes (Protestant Association of Quilmes). Este era un grupo ecuménico formado
                        originalmente por las Iglesias Anglicana, Metodista y Luterana en el distrito de Quilmes. Aquel
                        movimiento, que no conformista, defendía la Libertad de Culto y se congregaba en una capilla
                        compartida ubicada en el terreno que ocupa la actual Iglesia Presbiteriana. Con el paso del
                        tiempo, la asociación derivó principalmente en metodistas episcopales y presbiterianos.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/quilmes-antigua.jpg" class="imagen right">
                    <p>Fue a principios del siglo 19, cuando la familia Clark, de origen británico y notable importancia
                        en el desarrollo económico y cultural de Quilmes, decidió donar estas tierras a la ya
                        establecida Iglesia Presbiteriana de San Andrés, en memoria del Presbítero Gobernante Robert N.
                        Clark.</p>
                    <p>Finalmente, <b>el domingo 11 de mayo a las 3 de la tarde, se inauguró la Iglesia Presbiteriana de
                        Quilmes en Almirante Brown 831</b>. Su construcción estuvo a cargo del arquitecto Dawson Campbell y
                        su diseño refleja la herencia presbiteriana y su compromiso con una fe arraigada en las Sagradas
                        Escrituras.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/vitral.jpg" class="imagen left" style="width: 8rem;">
                    <p>En su vitral, producido en Escocia por Guthrie & Well de Glasgow, en Abril de 1926; trasluce en
                        inglés, el mensaje de Lucas 2: 11, 14 y Marcos 2:22 encabezado por la estrella de Belén: Fue
                        donado para la Gloria de Dios, en afectuosa memoria de Harriet Hilliard Clark, viuda de Robert
                        Clark.</p>
                </div>
                <div class="block">
                    <img src="assets/iglesia/fleming.png" class="imagen right" style="width: 6rem;">
                    <p>El moblaje, púlpito y bancos, fueron también enviados de Escocia, contribuyendo a mantener la
                        identidad presbiteriana y reproducir el estilo eclesial.</p>
                    <p>Aquel 11 de mayo, la iglesia estaba colmada desde temprano y el servicio fue conducido por el
                        Rev. James Fleming asistido por sus Ministros Asistentes y el Rev. F. Middleton encargado de la
                        Iglesia Anglicana de Quilmes.
                        El Rev. James Fleming basó su prédica en el Salmo 122, versículo 1 “Yo me alegro cuando dicen
                        “Vamos a la casa del Señor”</p>
                </div>
                <div class="block">
                    <p>Hoy, la Iglesia Presbiteriana San Andrés sigue siendo un faro de fe y comunidad, guiada por el
                        Espíritu Santo y el ministerio de sus presbíteros. En sus cien años de historia, esta iglesia ha
                        sido un testimonio vivo del poder transformador del Evangelio y la perseverancia de aquellos que
                        construyen sobre Cristo como roca firme de la fe.</p>
                </div>
                <div class="has-text-centered">
                    <img src="assets/iglesia/iglesia lat3.jpg" class="imagen" style="width: 40rem;">
                </div>
            </div>
        </section>
    </div>
</div>