<app-header [title]="'¿En qué creemos?'" [undertitle]="'Esenciales de la Fe'"></app-header>

<div class="main">
    <div class="container">
        <section class="section">
            <div class="box">Creemos que La Biblia es La Palabra escrita de Dios, inspirada por el Espíritu
                Santo, y sin errores en los manuscritos originales. La Biblia es la revelación de la verdad de
                Dios, es infalible y tiene autoridad en todos asuntos de práctica y fe.</div>
            <div class="box">Creemos en la Santísima Trinidad. Hay un solo Dios, que existe eternamente en tres
                personas: Padre, Hijo y Espíritu Santo.</div>
            <div class="box">Creemos que todos somos pecadores y totalmente incapaces de salvarnos por nosotros
                mismos de la condenación de Dios, excepto por su misericordia.</div>
            <div class="box">Creemos que la salvación proviene de Dios solamente según su elección soberana.
                Creemos que su elección se basa en su gracia, y no en ningún mérito individual o fe prevista.
            </div>
            <div class="box">Creemos que Jesucristo es el eterno Hijo de Dios, quien por medio de su perfecta
                vida y muerte sacrificial hizo expiación por los pecados de aquellos que confíen en Él para su
                salvación.</div>
            <div class="box">Creemos que Dios es fiel y da su gracia a su pueblo no simplemente como
                individuos, sino como familias, en las sucesivas generaciones, de acuerdo a sus promesas en el
                Pacto.</div>
            <div class="box">Creemos que el Espíritu Santo mora en el pueblo de Dios y les da la fuerza y
                sabiduría para confiar en Cristo y seguirlo.</div>
            <div class="box">Creemos que Jesús volverá, en su cuerpo y forma visible para juzgar a toda la
                humanidad y recibir a su pueblo para Él.</div>
            <div class="box">Creemos que cada aspecto de nuestras vidas debe ser vivido para la gloria de Dios,
                bajo el señorío de Jesucristo.</div>
        </section>
    </div>
</div>