<div class="banner">
  <!--img src="assets/bienvenido.png" /-->
</div>
<div class="texture">
  <section class="section">
    <div class="columns is-mobile is-multiline is-variable is-1-mobile is-1-tablet is-3-desktop is-8-widescreen is-2-fullhd is-centered has-text-centered boxes">
      <div class="column is-6-mobile">
        <div class="box" [routerLink]="['quienes-somos/en-que-creemos']">
          <img src="assets/church.png" /><br/>
          <button class="button is-primary" style="background-color: #dbb8b3;">Conocénos</button>
        </div>
      </div>
      <div class="column is-6-mobile">
        <div class="box" [routerLink]="['cultos']">
          <img src="assets/bible.png" /><br/>
          <button class="button is-primary">Cultos</button>
        </div>
      </div>
      <div class="column is-6-mobile">
        <div class="box" [routerLink]="['cancionero']">
          <img src="assets/songs.png" /><br/>
          <button class="button is-info">Cancionero</button>
        </div>
      </div>
      <div class="column is-6-mobile">
        <div class="box" [routerLink]="['contacto']">
          <img src="assets/phone.png" /><br/>
          <button class="button is-light">Contactános</button>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="video">
  <section class="section">
    <div *ngIf="lastsSermons" class="columns is-variable is-8">
      <div *ngIf="lastsSermons[2] && lastsSermons[2].link_youtube" class="column has-text-centered">
        <h5 class="title is-5">
          <a [routerLink]="['cultos', lastsSermons[2].id]">{{lastsSermons[2].date | date: 'dd/MM/yy'}}</a>
        </h5>
        <div class="iframe-container">
          <iframe width="490" height="275" frameborder="0" allowfullscreen
            [src]="lastsSermons[2].link_youtube | transformYoutube | safeUrl"></iframe>
        </div>
      </div>
      <div *ngIf="lastsSermons[1] && lastsSermons[1].link_youtube" class="column has-text-centered">
        <h5 class="title is-5">
          <a [routerLink]="['cultos', lastsSermons[1].id]">{{lastsSermons[1].date | date: 'dd/MM/yy'}}</a>
        </h5>
        <div class="iframe-container">
          <iframe width="490" height="275" frameborder="0" allowfullscreen
            [src]="lastsSermons[1].link_youtube | transformYoutube | safeUrl"></iframe>
        </div>
      </div>
      <div *ngIf="lastsSermons[0] && lastsSermons[0].link_youtube" class="column has-text-centered">


        <h5 class="title is-5">
          <a *ngIf="!upcomingSermon" class="has-text-primary" [routerLink]="['cultos', lastsSermons[0].id]">{{lastsSermons[0].date | date: 'dd/MM/yy'}}</a>
          <a *ngIf="upcomingSermon" class="has-text-primary" [routerLink]="['cultos', lastsSermons[0].id]">Próximo Culto</a>
        </h5>
        <div class="iframe-container">
          <iframe width="490" height="275" frameborder="0" allowfullscreen
            [src]="lastsSermons[0].link_youtube | transformYoutube | safeUrl"></iframe>
        </div>
      </div>
    </div>
  </section>
</div>