<app-header [color]="'is-warning'"
  [title]="song.id ? song.title ? 'Editar: ' + song.title : 'Editar Canción' : 'Agregar Canción'"></app-header>

<div class="container">
  <section class="section">
    <div *ngIf="song.suggestion" class="field is-horizontal">
      <div class="field-label">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <p class="control is-expanded">
            <label class="checkbox">
              <input type="checkbox" style="margin-right: 5px" [(ngModel)]="songSuggestionFlag" />Mover sugerencia al
              cancionero
            </label>
          </p>
          <p class="control">
            <button class="button is-small is-danger has-text-white" (click)="removeSuggestion()">
              Borrar Sugerencia
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Comienzo</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <p class="control is-expanded">
            <input class="input" [(ngModel)]="song.beginning" placeholder="Comienzo/Primer oración" />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Título</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <p class="control is-expanded">
            <input class="input" [(ngModel)]="song.title" placeholder="Título" />
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded">
            <input class="input" [(ngModel)]="song.artist" type="text" placeholder="Artista" />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Link de canción original</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <p class="control is-expanded">
            <input class="input" [(ngModel)]="song.link_original" type="text"
              placeholder="Link a Youtube de version original" />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Link de nuestra versión</label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <p class="control is-expanded">
            <input class="input" type="text" [(ngModel)]="song.link_ipsaq"
              placeholder="Link a Youtube de nuestra version" />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Link de Acordes</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input class="input" type="text" [(ngModel)]="song.link_chords" placeholder="Link al archivo con acordes" />
          </p>
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)]="keyTonic">
                <option [ngValue]="null">Tono</option>
                <option value="C">C</option>
                <option value="C#">C#/Db</option>
                <option value="D">D</option>
                <option value="D#">D#/Eb</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="F#">F#/Gb</option>
                <option value="G">G</option>
                <option value="G#">G#/Ab</option>
                <option value="A">A</option>
                <option value="A#">A#/Bb</option>
                <option value="B">B</option>
              </select>
            </div>
          </div>
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)]="keyMode">
                <option [ngValue]="true">Mayor</option>
                <option [ngValue]="false">Menor</option>
              </select>
            </div>
          </div>
          <p class="control" *ngIf="song.link_chords">
            <mat-slide-toggle style="margin: 8px 0 8px 15px;font-family: inherit;" [(ngModel)]="song.verified"
              [color]="'primary'">Acordes Verificados
            </mat-slide-toggle>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Letra</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea rows="30" class="textarea" [(ngModel)]="song.lyrics"></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-page-button [color]="'success'" [icon]="'fa-solid fa-save'" [hoverText]="'Guardar'"
  (clickedEvent)="song.id ? updateSong() : addSong()"></app-page-button>