// 1. Import the initial variables
@use "bulma/sass/utilities/initial-variables";
@use "bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
// Add pink and its invert

$primary: #d2a28e;
$link: #d0b5a5;
$info: #7FA2E1;
$warning: #e8b359;
$success: #9fb45b;
$danger: #d64a57;
$danger-invert: #f7bcc1;
$info-invert: #D4E0F5;
$link-invert: #fbf4ef;
$warning-invert: #fff0d8;
$success-invert: #eef3e0;
$family-primary: "Nunito", Roboto, "Helvetica Neue", sans-serif;

$secondary: #dbb8b3;
$tertiary: #ad9e91;
$background: #ffefdd;
$primary-invert: $background;
$light: $background;
$white-ter: $background;

// // 5. Add new color variables to the color map.
// @import "node_modules/bulma/sass/utilities/derived-variables";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma

@use "../node_modules/bulma/bulma";


.success {
  background-color: bulma.$success;
  color: #fff;
}

.info {
  background-color: bulma.$info;
  color: #fff;
}

.warning {
  background-color: bulma.$warning;
  color: rgba(0, 0, 0, 0.7);
}

.error {
  background-color: bulma.$danger;
  color: white;
}

.link {
  background-color: bulma.$link;
  color: white;
}

.primary {
  background-color: bulma.$primary;
  color: white;
}

.light {
  background-color: bulma.$background;
  color: bulma.$primary;
}
