.cell-container {
  position: relative;
  
  .profile-tag {
    border: 1px dashed var(--tag-color);
    background: transparent;
    color: var(--tag-color);
    cursor: pointer;
    border-radius: 1em;
    padding: 0.1em 0.6em;
    margin: 0.1em 0.1em;
    font-size: 0.90em;
    font-weight: 500;
    white-space: nowrap;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    
    &[data-color] {
      border-color: var(--tag-color);
      color: var(--tag-color);
      background-color: var(--tag-bg);
    }
    
    &.absent {
      border-color: transparent;
      cursor: default;
      color: #888 !important;
      background-color: rgba(180,180,180,0.18) !important;
      font-style: italic;
    }
  }
  
  .profile-tag.designated {
    background-color: var(--tag-bg);
    color: var(--tag-color);
    border-color: var(--tag-color);
    border-style: solid;
  }
  
  .profile-tag.designated-border {
    background: transparent;
    color: var(--tag-color);
    border-color: var(--tag-color);
  }
  
  .add-profile-form {
    margin-top: 0.5em;
  }
}
